body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-width: 100vh;

}
.cabecalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 8px solid rgb(128, 0, 0);
}
.menu ul {
    display: flex;
    
    list-style: none;
    gap: 30px;
}

#imgtopo1{
    width: 320px;
    height: 120px;
    transition: transform 0.3s ease;
}
.imgtopo2{
    width: 48px;
    height: 48px;
    
    transition: transform 0.3s ease;
}
.imgtopo2:hover{
 transform: scale(1.2);
}
#imgtopo1:hover{
 transform: scale(1.2);
}
.esquerda{
    display: flex;
    justify-content: flex-start;
}
.centro{
    display: flex;
    justify-content: center;
    
}
.direita{
    margin-left: 80px;
}
a {
    color: rgb(240, 240, 240); 
    text-decoration: none;
    transition: color 0.3s ease; 
}
a:hover {
    color: red; 
}

.site-footer {
  background-color: #0a0a0a; 
 
  padding: 40px 20px;

}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  
}


.footer-column {
  margin-bottom: 20px;
  min-width: 150px;
}


.footer-column h3 {
  color: rgb(128, 0, 0);
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}


main{
    padding: 160px;
    flex: 1;
    margin: 50px;
    
    
}

footer{
    width: 100%;
    border-top: 8px solid rgb(128, 0, 0);
}

li{
    font-size: 28px;
}
.banner-seta {
  display: inline-block;
  position: relative;
  background-color: rgb(128, 0, 0); 
  color: rgb(255, 255, 255);              
  font-weight: bold;
  padding: 15px 40px;      
  border-left: 20px solid rgb(128, 0, 0); 
  box-sizing: border-box;
}


.banner-seta::after {
  content: "";
  position: absolute;
  right: -30px;             
  top: 0;
  width: 0;
  height: 0;
  
  border-top: 38px solid transparent;  
  border-bottom: 38px solid transparent; 
  border-left: 30px solid  rgb(128, 0, 0);    
}
h2, h3{
    color: rgb(128, 0, 0) ;
}
.center{
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
     
}
.Imgcentro{
    width: 800px;
    height: auto;
    transition: 0.3s ease;
    display: block;
    margin: 0 auto;
}
.imgcenter{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
   
}
p{
    text-indent: 30px;
    margin-top: 15px;    
    margin-bottom: 25px; 
}
img{
    margin: 20px;
}
.Imgcentro:hover{
     transform: scale(1.1);
}
.banner-seta.duplas::before{
  content: "";
  position: absolute;
  left: -50px;             
  top: 0;
  width: 0;
  height: 0;
  
  border-top: 38px solid transparent;  
  border-bottom: 38px solid transparent; 
  border-right: 30px solid  rgb(128, 0, 0);  
  z-index: 10;  
}
.banner-seta {
  display: inline-block;
  position: relative;
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 0, 0);              
  font-weight: bold;
  padding: 15px 40px;      
  border-left: 20px solid rgb(0, 0, 0); 
  box-sizing: border-box;
}
.banner-seta::after {
  content: "";
  position: absolute;
  right: -30px;             
  top: 0;
  width: 0;
  height: 0;
  
  border-top: 38px solid transparent;  
  border-bottom: 38px solid transparent; 
  border-left: 30px solid  rgb(128, 0, 0);    
}
.h3giga{
    font-size: 40px;
}
.tabela{
    border-collapse: collapse;
    width: 50%;
    margin: 30px auto;
    background-color: black;
    color: white;
    box-shadow: 0 0 15px #550101, 0 0 40px #550101;
}
.tabela td, .tabela th, .tabela tr {
    border: 2px solid #ffffff;
    padding: 8px;
}
